* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}
ul li {
    list-style-type: none;
}
/*HEADING*/
h1{
    font-size: 30px;
    color: #fff;
    
}
:focus{
    outline: 0;
}

/*=======================*/
/*REUSABLE COMPONENTS*/
/*=======================*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding: 6rem 0;
   
}
h2{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: #fff;
    text-align: center;
}
h2::after{
    content:"";
    display: block;
    height: .3rem;
    background: #fff;
    width: 8rem;
    margin: auto;
    margin-top: 1.5rem;

}
h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}
h4 {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.box{
    padding: 1%;
}
.box p{ 
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1.2rem;
    color: #fff;
}
/*BUTTON*/
.btn:link,
.btn:visited,
.btn {
    background: #333;
    border-bottom: 3px solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 60px;
    border-radius:3px;
    display: inline-block;
    margin-top: 45px;
}
/*PARAGRAPH*/
.little-description{
    font-size: 1.2rem;
    width: 60%;
    margin-left: 20%;
    line-height: 2.2rem;
}
/*=======================*/
/*HEADER SECTIONS*/
/*=======================*/
header{
    background:linear-gradient(rgba(135, 80, 156,0.9),rgba(135, 80, 156,0.9)), url(img/hero-bg.jpg) no-repeat center center  fixed ;
    background-size: cover;
    height: 85vh;
    position: relative;
}
.logo{
    height: 35px;
    width: auto;
    margin-top: 35px;
    float: left;
}

/*MAIN NAVIGATION*/
.main-nav{
    float: right;
    margin-top: 40px;
}
.main-nav li{
    display: inline-block;
    margin-left: 10px;
}
.main-nav li a:link, 
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgb(100, 58, 121,0);
    padding: 6px 16px;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    transition: .3s;
}
.main-nav li:first-child{
    margin-left: 0;
}
.main-nav li:hover a:link, 
.main-nav li:hover a:visited{
    background: rgba(100, 58, 121,1);
}

.active{
    background: rgba(100, 58, 121,1) !important;
    border-radius: 3px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
} 
.hero-text-box{
    width: 1140px;
}
/* STICKY*/
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(135, 80, 156, 0.904);
    padding: .4rem 0;
    box-shadow: 0 .2rem .3rem rgba(255, 255, 255, 0.9);
    z-index: 99999;
}
.sticky .logo{
    margin-top: .2rem;
}
.sticky .mobile-menu span{
    margin-top:0;
   line-height: 1;
}
.sticky .main-nav{
    margin-top: .2rem;
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.btn-hero:link,
.btn-hero:visited{
    background: #eb7d4b;
    border-color: #c86a40;
}

.mobile-menu span{
    color: #fff;
    font-size: 2.7rem;
    float: right;
    margin-top: 1.2rem;
    display: none;
}
.mobile-menu span{
    cursor: pointer;
}
.overly{
    width: 0;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0, 0.7);
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.overly-content{
    position: relative;
    width: 100%;
    top: 20%;
    text-align: center;
    
}
.overly a{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #999;
    padding: .7rem 0;
}
.overly a:hover{
    color: #fff;
}
.overly .close-btn{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 4rem;
}

/*=======================*/
/*SERVICES SECTIONS*/
/*=======================*/

/*SERVICES SECTION*/
.services-section{
    color: #fff;
    text-align: center;
    background:  linear-gradient(rgba(23, 194, 164,0.9),rgba(23, 194, 164,0.9)), url(img/services-bg.jpg) no-repeat center top  ;
    background-size: cover;
}
.services-section h2::after{
    background: #14a58c;
}
.services-icon{
    height: 9rem;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}
/*=======================*/
/*TEAM SECTIONS*/
/*=======================*/
.team-section{
    background:linear-gradient(rgba(231, 241, 248, 0.911),rgba(231, 241, 248, 0.911)), url('img/team-bg.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.team-section h2{
    color: #3c4761;
}
.team-section h2::after{
    background: #c8d9e5;  
}
.team-member{
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} 
.team-section h3{
    color: #27283d;
}
.role{
    color: #30bae7;
    font-size: 1rem;
    text-transform: capitalize;
    margin-top: .5rem; 
    display: inline-block;
}
.team-section .box p{
    color: #3c4761;
}
/*=======================*/
/*SKILL SECTIONS*/
/*=======================*/
.skill-section{
    background:linear-gradient(rgba(255, 255, 255, 0.897),rgba(255, 255, 255, 0.897)), url(img/skill-bg.jpg) no-repeat ;
    background-size: cover;
    text-align: center;
}
.skill-section h2,
.skill-section h3{
    color: #3c4761;
}
.skill-section h2::after{
    background: #3c4761;
}
.skill-section .box{
    margin-top: 3.5rem;
}
svg.radial-progress circle{
    stroke-width: 5;
}
svg.radial-progress text{
    fill: #3c4761;
    font-size: 1.2rem;
}
svg.web-design circle{
    stroke: #30bae7;
}

svg.html-css circle{
    stroke: #d74680;
}
svg.graphic-design circle{
    stroke: #15c7a8;
}
svg.ux-ui circle{
    stroke: #eb7d4b;
}
/*=======================*/
/*PORTFOLIO SECTIONS*/
/*=======================*/
.portfolio-section{
    background:linear-gradient(rgba(255, 221, 153, 0.904),rgba(255, 221, 153, 0.904)), url('img/portfolio-bg.jpg') no-repeat center center fixed; 
    background-size: cover;
    text-align: center;
}
.portfolio-section h2{
    color: #3c4761;

}
.portfolio-section .little-description {
    color: #49536c; 
}
.portfolio-section h2::after{
    background: #e5c37f;
}
.portfolio-filter{
    margin: 3.5rem 0;
}
.portfolio-filter button{
    background: #ebc985;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    border: 0;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    text-transform: uppercase;
    color: #3c4761;
    margin: 0 .2rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.portfolio-filter button:hover{
    cursor: pointer;
    box-shadow: inset 0 .2rem .3rem rgba(60, 71, 97, 0.836);
    border: 0;
}
.portfolio-image{
    width: 100%;
    height: auto;
}
.portfolio-section .col:nth-child(3){
    margin-left: 0;
}
.btn-load-more:link,
.btn-load-more:visited{
    background: #17c2a4;
    border-color: #14a58c;
}
.portfolio-section .mixitup-control-active{
    background: #fff;
}
/*=======================*/
/*TESTIMONIAL SECTIONS*/
/*=======================*/
.testimonial-section{
    background:linear-gradient(rgba(215, 70, 128, 0.8),rgba(215, 70, 128, 0.8)), url('img/testimonial-bg.jpg') no-repeat center center;
    background-size: cover;
   
}
.testimonial-section .little-description{
    text-align: center;
    color: #fff;
}
.testimonial-section .col:nth-child(3){
    margin-left: 0;
}
.testimonial-section .col:nth-child(1),
.testimonial-section .col:nth-child(2){
    margin-top: 3rem;
}
.testimonial-section .col:nth-child(3),
.testimonial-section .col:nth-child(4){
    margin-top: 5.5rem;
}
.client-photo{
    width: 8rem;
    float: left;
}
.client-photo img{
    height: 7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 2.5rem;
}
.client-review{
    width: 28rem;
}
.client-review p{
    font-size: 1rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.client-review . role{
    color: #ffdd99;
}
/*=======================*/
/*TESTIMONIAL SECTIONS*/
/*=======================*/
.contact-section{
    background:linear-gradient(rgba(60, 83, 153, 0.884),rgba(60, 83, 153, 0.884)), url('img/contact-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}
.contact-section h2::after{
    background: #273a71;
}
.contact-section .little-description{
    color: #fff;
}
.contact-section form{
    margin-top: 4rem;
    width: 70%;
    margin-left: 15%;
  
}
.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
    background: #273a71;
    border: .1rem solid #273a71;
    width: 100%;
    padding: 1rem;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    font-size: 1.2rem;
    color: #fff;
    margin: .3rem 0;
 
}
.contact-section form ::placeholder{
    color: #fff;
    opacity: 1;
}
.btn-submit{
    border: 0;
    background: #30bae7;
    border-bottom: .2rem solid #299ec5;
    cursor: pointer;
}
/*=======================*/
/*TESTIMONIAL SECTIONS*/
/*=======================*/
.footer-section{
    background: #344b8c;
    padding: 3rem 0;
    text-align: center;
    border-top: .1rem solid rgba(255, 255, 255, 0.37);
}
.footer-section li{
    display: inline-block;
    margin: 0 1.5rem;
}
.footer-section li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
}
.footer-section li:hover a{
    color: #30bae7;
}
